  <div id="gitment_thread"></div>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@jibranijaz/gitment@0.0.6/style/default.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/@jibranijaz/gitment@0.0.6/dist/gitment.browser.min.js"></script>
  <script>
    var gitment = new Gitment({
      desc: '{{ page.excerpt | strip_html | normalize_whitespace }}',
      owner: '{{ site.gitment.username }}',
      repo: '{{ site.gitment.repo }}',
      oauth: {
        client_id: '{{ site.gitment.client_id }}',
        client_secret: '{{ site.gitment.client_secret }}',
      },
    });
    gitment.render('gitment_thread')
  </script>
